/* Custom CSS */


/* Import files */
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");


/* Main */
.section-heading .section-subheading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 50%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 65%;
    position: relative;
    top: 3rem;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 65%;
  }
}


/* Blog */

.disqus_thread {
    margin: 4rem 0 2rem;
}

.date {
  margin: -2rem 0 2rem;
}

.cta {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: rgba(230, 167, 86, 0);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: none;
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.list-hours {
  width: 100%;
}

.list-hours .list-hours-item {
  border-bottom: 0px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  border: 1px solid rgba(47,23,15,.2);
}

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
  color: #e6a756;
  font-size: 1.5em;
  padding-left: 1em;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/* Horizontal list */
ul.feature-icons {
			list-style: none;
			padding-left: 1em;
		}

			ul.feature-icons li {
				text-decoration: none;
				display: inline-block;
				margin: 0 0 1.6875em 0;
				padding: 0.35em 0 0 3.5em;
				position: relative;
				vertical-align: top;
				width: 48%;
			}

				ul.feature-icons li:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				ul.feature-icons li:before {
					background: #004080;
					border-radius: 100%;
					/* color: #ffffff; */
					display: block;
					height: 2.5em;
					left: 0;
					line-height: 2.5em;
					position: absolute;
					text-align: center;
					top: 0;
					width: 2.5em;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 2em;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0 !important;
				}

				ul.icons li .icon:before {
					font-size: 1.25em;
				}

		ul.icons a:hover {
			color: rgba(255,255,255,.7);
		}

    ul.icons a {
      text-decoration: none;
    }
