<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{ site.title }} </title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/business-casual.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">{{ site.title }}</span>
      <!-- <span class="site-heading-lower">Business Casual</span> -->
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4 {% if page.title == 'index' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="/">Home
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <!-- <li class="nav-item px-lg-4 {% if page.title == 'research' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="/research">Research</a>
            </li> -->
            <li class="nav-item {% if page.title == 'cv' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/cv">CV</a>
            </li>
            <li class="nav-item px-lg-4 {% if page.title == 'blogs' %}active{% endif %} {% if page.layout == 'post' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="/blog">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <ul class="icons horizontal-list">
          <!-- <li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
          <!-- <li><a href="https://www.linkedin.com/in/" class="icon fa-linkedin"><span class="label">Facebook</span></a></li> -->
          <li><a href="https://scholar.google.co.nz/citations?hl=en&user={{ site.scholar_username }}" class="icon fa-graduation-cap"><span class="label"> Google Scholar</span></a></li>
          <li><a href="https://github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="mailto:{{ site.email }}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    {% if jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
  </body>

</html>
